.application-container {
    padding: 20px 20px 40px 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
  }
  
  .application-input-card {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #ffffff 0%, rgba(252, 253, 255, 0.486) 100%);
  }
  
  .application-result-container {
    width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .application-result-card{
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin:0px;
    background: linear-gradient(135deg, #ffffff 0%, rgba(252, 253, 255, 0.486) 100%);
  }
  
  .status-track-card,
  .messages-card {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background: linear-gradient(135deg, #ffffff 0%, rgba(252, 253, 255, 0.486) 100%);
  }
  
  /* Status Tracking Styles */
  .status-track {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .status-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 1;
  }
  
  .status-ring {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid;
    background: #fff;
    z-index: 1;
  }
  
  .status-label {
    margin-top: 10px;
    font-size: 1rem;
    color: #000;
    text-align: center;
  }
  
  .status-line {
    height: 30px;
    margin:8px 11px;
    z-index: 0;
    border-Left: 4px dotted rgb(125, 125, 125);
  }
  
  /* Messages Card Styles */
  .message-item {
    margin-bottom: 15px;
  }
  
  .message-text {
    display: block;
    background: #f9f9f9;
    background: #ffffff;
    padding: 10px;
    border-radius: 8px;
    color: #333;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #F3F3F3;
  }